.about{
    font-family: 'Nunito', sans-serif;
    /* background: transparent linear-gradient(369deg, rgba(229, 229, 226, 0.527) 0%, rgba(5, 73, 25, 0.233) 100%) 0% 0% no-repeat padding-box; */
}
.about__header{
 
    height: 300px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about__header h2{
    color: #fff;
    padding-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    
}
 

@media only screen and (min-width: 800px) {
    .about__content{
       max-width: 85%;
       margin: auto;
    }
}
.about__text{
margin-top: 60px;
}
 
 
.about__text__right h3{
    color: rgb(3, 39, 14);
   
    font: normal normal normal 17px/27px Heebo;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
}
 
.mission__row{
    margin-top: 70px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
   
    padding-bottom: 40px;
}

.vision{
   
    padding-top: 20px;
    min-height: 220px;
    /* background-color: rgb(3, 39, 14);  */
}
.vision__img{
    max-width: 150px;
    
   margin-top: 30px;
   margin-top: -50px;
   margin-left: -30px;
   position: absolute;
}
.mision__img{
    max-width: 150px;
     
   margin-top: 30px;
   margin-top: -170px;
   margin-right: -130px;
   
position: absolute;

}
.mission{
       padding-top: 20px;
    min-height: 220px;  
}

.mission__row h2{
    text-align: center;
    color: #fff;
    
}
.mission__row p{
   
    color: #fff;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    
}

 
 
/* <<<<<<<<<< ABOUT STATUS >>>>>>>>> */

.about__status{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.671)), url("../assets/images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 70px;
}
 
.about__status__second__row{
    margin-top: 50px;
}
.about__status__circle{
    height: 35px;
    width: 35px;
   
border: 1px solid rgba(255, 255, 255, 0.397);
display: flex;
justify-content: center; 
 align-items: center;
 
}
.about__status__item{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.664);
    padding: 10px;
    border-radius: 5px;
    
}
.about__status__item p{
  color: #fff;
  font-size: 19px;
  font-size: 500;
  margin-left: 10px;
}
.about__status__item h6{
    color: #fff;
    font-size: 17px;
    font-size: 500;
    letter-spacing: .9px;
    margin-left: 5px;
  
}
#about__status__icons{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.794);
}



@media only screen and (max-width: 800px){
    .about__text{
       padding: 15px;
        }
        .mission__row{
            padding: 15px;
             }
        .vision{
            
            padding: 20px;
              
            background-color: rgb(3, 39, 14); 
           
        }
        .vision__img{
           
          
           margin-top: 30px;
           margin-top: -80px;
           margin-left: -40px;
  
           letter-spacing: .5px;
        }
        .mision__img{
            max-width: 150px;
        
           margin-top: -120px;
         margin-left: -40px;
           /* float: right; */
   
        }
        .mission{
          
           padding: 20px;
            letter-spacing: .5px; 
        }
        .about__status{
           
         
            padding: 15px;
            padding-top: 60px;
            padding-bottom: 40px;
            margin-bottom: 70px;
        }
        .about__status__second__row{
            margin-top: 20px;
        }
        
}

 