.alumni{
    font-family: 'Nunito', sans-serif;
  
    /* background: transparent linear-gradient(369deg, rgba(229, 229, 226, 0.466) 0%, rgba(5, 73, 25, 0.089) 100%) 0% 0% no-repeat padding-box; */
}
.alumni__header{
 /* background-color: rgb(5, 73, 25); */
 height: 300px;
 /* background: url('../assets/images/bg.JPG'); */
 background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
 background-size:cover;
 background-position: center;
 background-repeat: no-repeat;
}
.alumni__header h2{
    color: #fff;
    padding-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;

    /* box-shadow: green 4px; */
    
    /* border-bottom: 2px solid rgb(4, 58, 20); */
    /* max-wid
    .about__content{
        th: 170px; */
}


@media only screen and (min-width: 800px) {
    .alumni__content{
       max-width: 85%;
       margin: auto;
    }
}
.alumni__content{
margin-top: 50px;
/* border: solid red; */
min-height: 70vh;

}
 
.alumni__content p{
    font-size: 17px;
    /* font-family: sans-serif  ; */
    margin-top: 20px;
    letter-spacing: .1px;
    color: rgb(0, 0, 0);
    
}
.alumni__content a{
   

  
    color: rgb(92, 90, 90);
   
}
.alumni__content a:hover{
    text-decoration: underline;
    color: rgb(0, 38, 255);
   }
.alumni__logo{
    /* box-shadow: rgba(0, 0, 0, 0.438) 1px 2px 4px 1px ; */
    border-radius: 3px;
    display: flex;
    justify-content: center;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* background-color: rgba(4, 36, 13, 0.418); */
}
.alumni__logo img{
    max-height: 200px;
}
@media only screen and (max-width: 800px) {
    .alumni__content{
    padding: 15px;
    margin-top: 10px;
    }
}
