
.contact{
    background: transparent linear-gradient(369deg, rgba(229, 229, 226, 0.527) 0%, rgba(5, 73, 25, 0.096) 100%) 0% 0% no-repeat padding-box;
}.contact__header{
      /* background-color: rgb(5, 73, 25); */
      height: 300px;
      /* background: url('../assets/images/bg.JPG'); */
      /* background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.911)), url("../assets/images/bg.JPG"); */
      background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
      background-size:cover;
      background-position: center;
      background-repeat: no-repeat;

}

.contact__header h2{
    color: #fff;
    padding-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}


@media only screen and (min-width: 800px) {
    .contact__content{
       max-width: 85%;
       margin: auto;
    }
}
.contact__content{
    /* border: solid red; */
    /* height: 100vh; */
    margin-top: 80px;
}
.contact__row{
    padding-bottom:40px;
    padding-top: 20px;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.911)), url("../assets/images/garden.JPG");
}
.contact__row__left{
    margin: auto;
    /* border: solid green; */
    /* height: 400px; */
}
.contact__row__left h4{
    color: rgba(255, 255, 255, 0.849);
    font: normal normal normal 17px/27px Heebo;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
   
}
.contact__row__left h6{
    font: normal normal normal 16px/27px Heebo;
    font-family: "Heebo", sans-serif;
    /* font-weight: 500; */
    color: rgba(255, 255, 255, 0.849);
    /* color: rgb(9, 70, 27); */
}
.contact__row__div{
    /* align-items: center; */
    margin-top: 20px;
  
}
#contact__icon{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.849);
    /* color: rgb(9, 70, 27); */
}

.contact__row__right{
    margin: auto;
    /* border: solid red; */
    /* display: flex; */
    /* flex-direction: column; */
    max-width: 300px;
    margin-top: 10px;
}
.contact__row__right h5{
    font: normal normal normal 18px/27px Heebo;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
  color: rgba(255, 255, 255, 0.849);
    /* color: rgb(9, 70, 27); */
}
.contact__row__right input{
    border: 1px solid rgba(128, 128, 128, 0.65);
    width: 100%;
    margin-top: 10px;
    height: 40px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.829);
    /* background-color: rgb(170, 179, 173); */
    padding-left: 5px;
   
}
.contact__row__right textarea{
    border: 1px solid grey;
    width: 100%;
    margin-top: 10px;
    outline: none;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.829);
}
.contact__row__right button{
   color: rgb(204, 203, 203);
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background-color: rgba(102, 107, 104, 0.801);
}
.contact__row__right  form{
    margin-top: 10px;
}
.contact__row__center{
    /* background-color: rgb(5, 44, 17); */
    /* width: 200px; */
    width: 100%;
    max-width: 300px;
    margin: auto;
    height: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.911)), url("../assets/images/garden.JPG"); */

    background-size: contain;
    background-repeat: no-repeat;
    
}


@media only screen and (max-width: 800px) {
    .contact__content{
        /* border: solid red; */
        /* height: 100vh; */
        margin-top: 0px;
    }
}
