
.faculty__header{
    /* background-color: rgb(5, 73, 25); */
    height: 300px;
    /* background: url('../assets/images/bg.JPG'); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.911)), url("../assets/images/bg.JPG"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.faculty__header h2{
    color: #fff;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    /* box-shadow: green 4px; */
    
    /* border-bottom: 2px solid rgb(4, 58, 20); */
    /* max-wid
    .about__content{
        th: 170px; */
}

@media only screen and (min-width: 800px) {
    .faculty__content{
       max-width: 85%;
       margin: auto;
    }
}
.faculty__content{
    /* border: solid green; */
    /* height: 100vh; */
    margin-top: 40px;
    margin-bottom: 60px;
    }
 

  
 
@media only screen and (max-width: 800px) {
    .faculty__content{
        
   
   padding: 15px;
   margin-top: 0px;
        }
        .faculty__box{
           
          
            padding: 10px;
        }
        .faculty__box h5{
          text-align: center;
        
        }
        .faculty__box h6{
            text-align: center;
           
          }
        .faculty__box p{
         text-align: justify;
         margin-top: 10px;
        }
        .faculty__row{
            /* max-height: 300px; */
           margin-top: 20PX;
        } 
}
