.footer{
    background-color: rgb(3, 39, 14); 
    /* height: 300px;   */
    /* margin-top: 50px;   */
    padding-top: 80px;
 
}
.footer__content{
    /* border: solid red; */
    /* height: 300px; */
    /* border: solid 1px rgba(255, 255, 0, 0.589); */
    padding: 5px;
    /* color: rgba(255, 255, 255, 0.849); */
    color: #ffffffef;
}
@media only screen and (min-width: 800px) {
    .footer__content{
      max-width: 85%;
      margin: auto;
    }
}
.footer__address{
    
   color: #ffffffef;
}

.footer__address h5{
    font-size: 15px;

}

.footer__address h6{
    font-size: 15px;
    margin-top: 5px;
  
}
.footer__input{
    align-items: center;
    margin-top: 20px;
   
}
.footer__input input{
    padding: 3px;
    align-items: center;
    font: normal normal normal 13px/25px Overpass;
    font-family: "Overpass", sans-serif;

/* background-color: #d8d0d0 ; */
background-color: #fff;
border: 1px solid #000000;
border-radius: 5px;
outline: none;
width: 80%;
}

.footer__input span{
    height: 35px;
    width: 35px;
    background: rgba(68, 66, 66, 0.568);
box-shadow: 0px 3px 6px #00000029;
/* border: 1px solid #AFAFAF; */
display: flex;
justify-content: center;
align-items: center;
margin-left: 20px;
}
.footer__input span:hover{
    border: 1px solid #e7e4e4;
}
#footer__arrow{
    font-size: 23px;
    /* color: #BFBFBF; */
}
#footer__arrow:hover{
    color: #e7e4e4;
}
.footer__address  p{
  
 margin-left: 5px;
 
}
.footer__call, .footer__mail{
    margin-top: 15px;
}




.footer__menu h6{
    margin-bottom: 15px;
    font-family: "Heebo", sans-serif;
   
}
.footer__menu h6:hover{
    cursor: pointer;
}
#footer__social__icon{
    font-size: 20px;
}
#footer__social__icon:hover{
    opacity: .7;
}
.footer__social{
    justify-content: space-between;
    max-width: 160px;
    margin-top: 20px;
}





.footer___bottom{
    /* border: solid blue; */
    /* height: 60px; */
    margin-top: 50px;
    background-color: rgb(2, 20, 8);
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}




.footer__bottom{

}
.footer__bottom__right{
    /* border: solid red; */
    width: 100%;
}
@media only screen and (min-width: 800px) {
    .footer__bottom__content{
      max-width: 85%;
      margin: auto;
    }
}

.footer__bottom__content{
    color: rgba(255, 255, 255, 0.746);
    /* color: rgba(219, 209, 209, 0.575); */
    /* height: 60px; */
    align-items: center;
    /* text-align: left; */
    /* border: solid red; */
    width: 100%;
  
}
.footer__bottom__content p{
font-size: 14px;
}
.footer__bottom__right{
    /* border: solid red ; */
    width: 100%;text-align: center;
    /* max-width: 200px; */
}
.footer__bottom__left{
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .footer__content{
       
        padding-left: 20px;
    }
    .footer{
       
        /* height: 300px;   */
        /* margin-top: 50px;   */
        padding-top: 40px;
    }
    .footer__menu h6{
      /* font-size: 17px; */
      margin-bottom: 12px;
       
    }
    .footer___bottom{
        padding: 15px;
       
    }
    .footer__bottom__content{
        flex-direction: column;
        /* border: saddlebrown solid; */
    }
    .footer__bottom__content p{
       text-align: center;
       /* color: black; */
       margin: auto;
       
    }
    .footer__bottom__right{
margin-top: 10px;
    }
   
}