.navbar {
    font-family: 'Nunito', sans-serif;
  min-height: 65px;
  position: absolute;

  width: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
}
.navbar__on__scroll {
  min-height: 65px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.911);
  /* width: 100%; */
  z-index: 100;
  position: fixed;
  display: flex;
}
.navbar__left {
  width: 100%;
}
.navbar__right {
  /* width: 100%; */
  align-items: center;
   
  background-color: rgba(0, 0, 0, 0.548);
  color: #fff;
}
.navbar__right h3 {
  font-weight: 400;
  letter-spacing: 0.5px;
}
.navbar__right h3:hover {
  color: rgb(21, 200, 21);
  cursor: pointer;
}
.active__nav {
  color: rgb(21, 200, 21);
  text-decoration: underline;
}
.active__dropdown {
  background-color: rgb(9, 95, 35);
}
.navbar__right__div {
  width: 100%;
  /* margin-right: 5%; */
  justify-content: space-around;
}
.navbar__left__div {
  justify-content: space-between;
}
.nav__logo {
  max-width: 80px;

  padding: 10px;
  display: flex;
}
.nav__name {
  margin-left: 5px;
  align-items: center;
  display: flex;

  max-width: 180px;
  padding: 10px;
}
.nav__name h1 {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.dorpdown__div {
  position: absolute;
  margin-top: 10px;
}
.dropdown-menu li {
  color: #fff;
}
.service__group__span {
  background-color: rgb(46, 45, 45);

  min-width: 150px;
}

.service__group__span:hover {
  background-color: rgb(9, 95, 35);
}

@media only screen and (max-width: 900px) {
  
  .navbar__left {
    background-color: rgba(0, 0, 0, 0.705);
  }
}
 

#menu__icon {
  color: #fff;
  font-size: 40px;
  /* margin-top: 10px; */
  /* margin-right: 10px; */
}

/* <<<<<<<<< NAV COLLAPSE>>>>>>> */
.nav__collapse {
  position: absolute;
  width: 100%;
  padding-bottom: 10px;

  background-color: rgba(0, 0, 0, 0.904);
  margin-top: 85px;
}
.collapse_row {
  padding: 10px;
  color: #fff;
  align-items: center;
}
.collapse_row p {
  font-size: 17px;
  letter-spacing: 1px;
}
#collapse__arrow {
  font-size: 30px;
  margin-left: 5px;
}
.collapse__collapse {
  position: absolute;
  float: right;
  margin-left: 100px;
  width: 90%;
}
.collapse_collapse__row {
  padding: 10px;
  width: 100%;
  background-color: rgb(7, 56, 7);
}

.service__group__span {
  align-items: center;
  justify-content: space-between;
}
#service__group__arrow {
  margin-right: 5px;
}

.development__list {
  display: none;
  position: absolute;

  float: right;
  margin-left: 200px;
  margin-top: -37px;
  flex-direction: column;
}
.development__list > li {
  width: 180px;
}
.development__head:hover .development__list {
  display: flex;
}

.design__list {
  display: none;
  position: absolute;

  float: right;

  margin-top: -40px;
  margin-left: 150px;
  flex-direction: column;
}
.design__list > li {
  width: 180px;
}
.design__head:hover .design__list {
  display: flex;
}

.marketing__list {
  display: none;
  position: absolute;

  float: right;
  margin-left: 200px;
  margin-top: -40px;
  flex-direction: column;
}
.marketing__list > li {
  width: 180px;
}
.marketing__head:hover .marketing__list {
  display: flex;
}

.hosting__list {
  display: none;
  position: absolute;

  float: right;
  margin-left: 200px;
  margin-top: -40px;
  flex-direction: column;
}
.hosting__list > li {
  width: 180px;
}
.hosting__head:hover .hosting__list {
  display: flex;
}

.expert__list {
  display: none;
  position: absolute;

  float: right;
  margin-left: 200px;
  margin-top: -40px;
  flex-direction: column;
}
.expert__list > li {
  width: 180px;
}
.expert__head:hover .expert__list {
  display: flex;
}
