.programmes{
  background: transparent linear-gradient(369deg, rgba(229, 229, 226, 0.527) 0%, rgba(5, 73, 25, 0.233) 100%) 0% 0% no-repeat padding-box;
}
.programmes__head {
  height: 300px;
  /* background: url('../assets/images/bg.JPG'); */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.911)),
    url("../assets/images/bg.JPG"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.programmes__head h1 {
  color: #fff;
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.programmes__content {
  /* border: solid red; */
  /* height: 100vh; */

  /* padding-bottom: 330px; */
}
@media only screen and (min-width: 800px) {
  .programmes__content {
    max-width: 85%;
    margin: auto;
  }
}

.programmes__keynote {
  /* background-color: rgb(5, 44, 17); */
  /* height: 200px; */
  margin-top: 60px;
  /* justify-content: space-between; */
  /* display: flex; */
  /* background-color: rgba(128, 128, 128, 0.383); */
  border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  padding-bottom: 40px;
}
.programmes__keynote h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgb(3, 39, 14);
  padding: 5px;
  max-width: 340px;
  border-radius: 3px;
  font-weight: 500;
}
.programmes__keynote p {
  font-size: 17px;
  /* font-family: sans-serif  ; */
  margin-top: 20px;
  letter-spacing: 0.1px;
  color: rgb(92, 90, 90);
  font: normal normal normal 16px/25px Poppins;
  font-family: "Poppins", sans-serif;
}

.hs__container {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
}
.hs {
  /* border: solid red; */
  margin-top: 50px;
}
.hs h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgb(3, 39, 14);
  padding: 5px;
  max-width: 340px;
  border-radius: 3px;
  font-weight: 500;
}
.hs p {
  /* font-size: 16px; */
  /* font: normal normal normal 16px/24px Heebo; */
  margin-top: 20px;
  letter-spacing: 0.1px;
  color: rgb(92, 90, 90);
  font: normal normal normal 16px/25px Poppins;
  font-family: "Poppins", sans-serif;
}

.programme__img {
  max-width: 340px;
  /* border-radius: 3px; */
  display: flex;
  /* max-height: 250px; */
  align-items: center;
}
.hs__img {
  max-width: 340px;
  /* border-radius: 3px; */
  display: flex;
  /* max-height: 250px; */
  align-items: center;
}

.hs__accordion {
  margin-top: 50px;
}
#opening__accordion {
    background-color: rgb(3, 39, 14);
  margin-top: 20px;
  padding-bottom: 5px;
}

.accordion__content {
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.767);
}
.accordion__content h6 {
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
 
  /* color: #fff; */
}
.accordion__div {
}

.bs__container {
  margin-top: 100px;
  margin-bottom: 50px;
}




@media only screen and (max-width: 800px) {
  .programmes__content {
   padding: 15px;
  }
}