.programmes{
  /* background: transparent linear-gradient(369deg, rgba(229, 229, 226, 0.527) 0%, rgba(5, 73, 25, 0.233) 100%) 0% 0% no-repeat padding-box; */
  font-family: 'Nunito', sans-serif;
  
}
.programmes__head {
  height: 300px;
       background-image: linear-gradient(rgba(0, 0, 0, 0.157), rgba(0, 0, 0, 0.911)), url("../assets/images/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.programmes__head h1 {
  color: #fff;
  padding-top: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
 
@media only screen and (min-width: 800px) {
  .programmes__content {
    max-width: 85%;
    margin: auto;
  }
}

/* .programmes__keynote {
 
  margin-top: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
  padding-bottom: 40px;
}
.programmes__keynote h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgb(3, 39, 14);
  padding: 5px;
  max-width: 340px;
  border-radius: 3px;
  font-weight: 500;
}
.programmes__keynote p {
  font-size: 17px;
 
  margin-top: 20px;
  letter-spacing: 0.1px;
  color: rgb(92, 90, 90);
  font: normal normal normal 16px/25px Poppins;
  font-family: "Poppins", sans-serif;
 
} */

 
.hs {
  
  margin-top: 50px;
}
 
.hs p { 
  
   
 
  font-size: 17px;
  }

 
 

.hs__accordion {
  margin-top: 80px;
  font-family: 'Nunito', sans-serif;
  
}
#opening__accordion {
  color: #fff;
    background-color: #3c4d42;
  margin-top: 20px;
  padding-bottom: 5px;
}

.accordion__content {
  color: #fff;  
  font-weight: 500;
  background-color: rgb(3, 39, 14);
  /* font-size: 15px; */
   
  /* color: rgba(255, 255, 255, 0.767); */
}
 
 
.bs__container {
  margin-top: 100px;
  margin-bottom: 50px;
}




 



#admision__btn{
  background-color: rgb(3, 39, 14);
  color:#fff;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
}
 