

.status__content{
padding-top: 70px;
padding-bottom: 70px;
}

@media only screen and (min-width: 800px) {
    .status__content{
       max-width: 85%;
       margin: auto;
    }
}
.status{
    /* background-color: rgb(3, 39, 14);   */
    
    margin-top: 50px;

   
  }
.status__content__left{



}
.status__content__left h3{
    color: #fff;
  
    font-size: 18px;
    font-weight: 500;
}
.status__left__row{
    margin-top: 20px;
}
.status__count__box{
    /* border: solid red; */
    /* height: 200px; */
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.534); */
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.status__count__box__circle{
    height: 40px;
    width: 40px;
    /* background: rgba(68, 66, 66, 0.568); */

border: 1px solid rgba(255, 255, 255, 0.397);
display: flex;
justify-content: center; 
 align-items: center;
 margin: auto;

}
#status__icons{
font-size: 25px;
color: rgba(255, 255, 255, 0.794);
}
.status__count__box p{
text-align: center;
color: #fff;
font-weight: 500;
font-size: 20px;
}
.status__count__box h6{
text-align: center;
color: rgba(255, 255, 255, 0.609);
/* font-weight: 500; */
/* font-size: 17px; */
font: normal normal normal 17px/25px Heebo;
font-family: "Heebo", sans-serif;
}




.status__content__right{
    /* background-color: rgba(0, 0, 0, 0.534); */
}
.status__content__right h3{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.status__right__row{
    /* background-color: rgba(0, 0, 0, 0.534); */
    /* height: 100%; */
    /* margin: auto; */
    margin-top: 20px;
    
    

}



.uni__logo__box{
    background: #FFFFFF ;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 160px;
  margin: auto;
  margin: 5px;
  }
  /* .client__img img{
    max-width: 110px;
    max-height: 50px;
  
  } */
  .uni__log__img img{
      border-radius: 4px;
      /* max-width: 80px; */
  }
  .status__content__right{
      /* border: solid red; */
      align-items: center;
  }
  .status__right__rows{
      /* border: solid white; */
      height: 100%;
 /* justify-content: center; */
    
 
  }


  @media only screen and (max-width: 800px) {
    .status{
      padding: 15px;
       
      }
      .status__content__left{
     
        width: 100%;
    
   
    
    }
    .status__count__box{
       
        margin: auto;
      
    
        width: 100%;
        max-width: 300px;
       
    }
    .status__content__left h3{
   
        text-align: center;
     
    }
    .status__content{
        padding-top: 30px;
        padding-bottom: 70px;
        }
        
          .status__right__row{
           /* border: solid red; */
           /* width: 100%; */
           
        }.status__right__rows{
            /* border: solid blue; */
        }
        .status__content__right{
            /* max-width: 500px; */
            /* margin: auto;    */
        }
}